body{
    margin: 0;
    padding: 0;
    /* background: url(./wall.jpg) center center/cover; */
}

/* navのスタイル */

nav{
    background: #333;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a{
    display: block;
    padding: 8px 24px;
    color: #fff;
    text-decoration: none;
}

nav a:hover{
    background: #666;
}

/* headerのスタイル */

header{
    height: 350px;
    /* background: url(./wall.jpg) center; */
    background: url(https://newrerictempstor.blob.core.windows.net/mynumapp/wall.jpg/wall.jpg) center;

}

#main-title{
    margin: 0;
    padding: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #e60606;
    text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

/* mainのスタイル */

.form-section{
    margin-bottom: 64px;
}

main h2 {
    text-align: center;
    margin: 32px 0;
    font-weight: normal;
}

.form-container{
    background: #eee;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

label{
    display: inline-block;
    width: 120px;
}

.form-group{
    padding: 10px;
}

.btn-group{
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

input[type='text']{
    width: 200px;
    height: 1.8em;
    border: solid 1px #ccc;
    border-radius: 3px;
}

textarea{
    width: 200px;
    vertical-align: top;
    height: 1.8em;
    border: solid 1px #ccc;
    border-radius: 3px;
}

button{
    width: -webkit-fill-available;
    /* margin-left: 125px; */
}

/* footerのスタイル */

footer{
    background:#333;
    color: #fff;
    text-align: center;
    padding: 32px 0;
}

/* レスポンシブ対応のための記述 */

@media screen and (max-width:640px){

    nav ul{
        flex-direction: column;
    }

    header{
        display: none;
    }

    .form-container{
        background: #fff;
        width: 100%;
    }

    button{
        border:solid 1px #ccc;
    }

    button:active{
        background: #666;
    }
}

/* confirm画面用の追加 */

.confirm-item{
    display: inline-block;
    width: 180px;
    vertical-align: top;
}

/* thankyou画面用の追加 */

.thankyou-message{
    text-align: center;
    font-weight: bold;
}

/* error_messageの追加 */
.error_message{
    color:red;
    display:block;
}

/* inputのborderの色 */
input.success {
    border: 2px solid green;
}

input.error {
    border: 2px solid red;
}

/* エラーメッセージの非表示 */
#mynum-error-message {
    display: none;
}

#name-error-message {
    display: none;
}

#addr-error-message {
    display: none;
}

#gender-error-message {
    display: none;
}
